# ULTIMA ATUALIZACAO: 30/01/2026 16:49:09
#EXTM3U
#EXTINF:-1, Premiere 1
https://01.vipcanaisplay.site/K5FMIbOGglbrjpTjsBaNwpKAlQQ/index.m3u8|Referer=https://embedtvonline.com/&User-Agent=Mozilla/5.0
