#EXTM3U
#EXTINF:-1, Premiere 1
https://d1muf25xa01so8hp28.s27-usa-cloudfront-net.online/token/49cad7edc996b9eb5289b5110149e234/premiere.m3u8
#EXTINF:-1, Premiere 2
https://d1muf25xa01so8hp28.s27-usa-cloudfront-net.online/token/11b145714097f27d77a47312f476e3c5/premiere2.m3u8
#EXTINF:-1, Premiere 4
https://d1muf25xa01so8hp28.s27-usa-cloudfront-net.online/token/4d6a5f8c9b3575aae8ac3e4ec84db4c2/premiere4.m3u8
#EXTINF:-1, Premiere 5
https://d1muf25xa01so8hp28.s27-usa-cloudfront-net.online/token/cde38908875a3eecbfd101a2ed7bda77/premiere5.m3u8
#EXTINF:-1, Sportv
https://d1muf25xa01so8hp28.s27-usa-cloudfront-net.online/token/06f6d063e36bcc841f1262b82f210cbd/sportv.m3u8
#EXTINF:-1, Cartoon Network
https://d1muf25xa01so8hp28.s27-usa-cloudfront-net.online/token/ee2f732b4e3e7e3cdbdbbc768800500d/cartoonnetwork.m3u8
#EXTINF:-1, Discovery Channel
https://d1muf25xa01so8hp28.s27-usa-cloudfront-net.online/token/789acf83a5c36bb7d0cf48a5ad1fb5c7/discoverychannel.m3u8
#EXTINF:-1, History
https://d1muf25xa01so8hp28.s27-usa-cloudfront-net.online/token/d1ff4297bb034490580210f342400062/history.m3u8
#EXTINF:-1, History 2
https://d1muf25xa01so8hp28.s27-usa-cloudfront-net.online/token/4135f9f6ba8feeb66bc4cb26e925eeb6/history2.m3u8
#EXTINF:-1, Globo RJ
https://d1muf25xa01so8hp28.s27-usa-cloudfront-net.online/token/6ed7074d49c97b2b2a6b10ae63d726c7/globorj.m3u8
#EXTINF:-1, Nickelodeon
https://d1muf25xa01so8hp28.s27-usa-cloudfront-net.online/token/a095fcd05229aaabd28ce1cbcfa9e2e8/nickelodeon.m3u8
#EXTINF:-1, Record
https://d1muf25xa01so8hp28.s27-usa-cloudfront-net.online/token/d3918dd3bfc152240f0ea12ce0a9cca1/record.m3u8
#EXTINF:-1, SBT
https://d1muf25xa01so8hp28.s27-usa-cloudfront-net.online/token/887b90ddef4ce4f19f4c1b4b4ceaf4dd/sbt.m3u8
#EXTINF:-1, Animal Planet
https://d1muf25xa01so8hp28.s27-usa-cloudfront-net.online/token/4990d3f6d8f632aa7d9968fe5594e23b/animalplanet.m3u8
#EXTINF:-1, Todo Mundo Odeia o Chris 24h
https://d1muf25xa01so8hp28.s27-usa-cloudfront-net.online/token/066237db776422b27f4b5435f793f0a8/24h_odeiachris.m3u8
#EXTINF:-1, Simpsons 24h
https://d1muf25xa01so8hp28.s27-usa-cloudfront-net.online/token/4ab722658e8f7b7113164ecbff556f1f/24h_simpsons.m3u8
