#EXTM3U
#EXTINF:-1,Premiere 1
https://d1muf25xa01so8hp26.s27-usa-cloudfront-net.online/token/f36a26f9607b197fb71958db1eb81e6c/premiere.m3u8
#EXTINF:-1,Premiere 2
https://d1muf25xa01so8hp26.s27-usa-cloudfront-net.online/token/4d120c05931c48df703a5f4722f66c3f/premiere2.m3u8
#EXTINF:-1,Premiere 3
https://d1muf25xa01so8hp26.s27-usa-cloudfront-net.online/token/d9fdc9ccbbe6006bdd0a3f5758ad258c/premiere3.m3u8
#EXTINF:-1,Premiere 4
https://d1muf25xa01so8hp26.s27-usa-cloudfront-net.online/token/6220aef217b2f685a9d55b9afedcd794/premiere4.m3u8
#EXTINF:-1,Premiere 5
https://d1muf25xa01so8hp26.s27-usa-cloudfront-net.online/token/9b84dbf803a5cf7a427bb7459f26c365/premiere5.m3u8
#EXTINF:-1,Sportv
https://d1muf25xa01so8hp26.s27-usa-cloudfront-net.online/token/0cfea90c9b65575a0afbcf627c95c136/sportv.m3u8
#EXTINF:-1,Cartoon Network
https://d1muf25xa01so8hp26.s27-usa-cloudfront-net.online/token/be960277c397c281cb14f56f57e7f5a0/cartoonnetwork.m3u8
#EXTINF:-1,Discovery Channel
https://d1muf25xa01so8hp26.s27-usa-cloudfront-net.online/token/293c9205dcbd887469000167c7afad9f/discoverychannel.m3u8
#EXTINF:-1,History
https://d1muf25xa01so8hp26.s27-usa-cloudfront-net.online/token/d1d11eaea6cef5dfba1625e6fdf97c22/history.m3u8
#EXTINF:-1,History 2
https://d1muf25xa01so8hp26.s27-usa-cloudfront-net.online/token/1334b8d51daa570e23e404f74537ef34/history2.m3u8
#EXTINF:-1,Globo RJ
https://d1muf25xa01so8hp26.s27-usa-cloudfront-net.online/token/bdd6d1e28d9a06c7406ecd2729bc117a/globorj.m3u8
#EXTINF:-1,Nickelodeon
https://d1muf25xa01so8hp26.s27-usa-cloudfront-net.online/token/52103148e20c497fd901a8c4a39d92ad/nickelodeon.m3u8
#EXTINF:-1,Record
https://d1muf25xa01so8hp26.s27-usa-cloudfront-net.online/token/4b08bf49d68e7ddaf688e59170f3ce58/record.m3u8
#EXTINF:-1,SBT
https://d1muf25xa01so8hp26.s27-usa-cloudfront-net.online/token/ce3d1ea0c3284548ae4bbcfe8ff36ebc/sbt.m3u8
#EXTINF:-1,Animal Planet
https://d1muf25xa01so8hp26.s27-usa-cloudfront-net.online/token/13e603ef5c51985828ca3d17f66bc76a/animalplanet.m3u8
#EXTINF:-1,Todo Mundo Odeia o Chris 24h
https://d1muf25xa01so8hp26.s27-usa-cloudfront-net.online/token/cd7e3028b0fd17e70bf82fcb38121367/24h_odeiachris.m3u8
#EXTINF:-1,Simpsons 24h
https://d1muf25xa01so8hp26.s27-usa-cloudfront-net.online/token/f7b796f9bdea41482e46f0108db99cb6/24h_simpsons.m3u8
