name: Atualizador Diario

on:
  schedule:
    # Ajustado para rodar a cada 2 horas (Essencial para links que expiram)
    - cron: '0 */2 * * *'
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Instalar Dependencias
        run: |
          pip install playwright requests
          playwright install chromium

      - name: Executar Script
        run: python script.py

      - name: Commit e Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          # Alterado para os nomes de arquivos que o script novo cria:
          git add premiere_streams.m3u links_simples.txt
          git commit -m "Lista Premiere atualizada: $(date +'%d/%m/%Y %H:%M')" || exit 0
          git push
