name: Atualizador Diario

on:
  schedule:
    - cron: '0 3 * * *' # Roda todo dia às 00:00 no Brasil (3:00 UTC)
  workflow_dispatch: # Ativa o botão de rodar manualmente

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Instalar Requests
        run: pip install requests

      - name: Executar Script
        run: python script.py

      - name: Commit e Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add minha_lista.m3u
          git commit -m "Lista atualizada" || exit 0
          git push
