name: Atualizador Diario
on:
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch: 
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Instalar Navegador
        run: |
          pip install playwright
          playwright install chromium
      - name: Executar Script
        run: python script.py
      - name: Commit e Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add lista_streams.m3u
          git commit -m "Lista atualizada com Playwright" || exit 0
          git push
